.landing-main {
  background: url(/assets/images/bg-landing.jpg) no-repeat transparent;
  background-size: 100%;
  padding: 3.5rem 4rem 0;
  height: 655px;
}

.title {
  color: #dddddd;
  font-weight: 300;
  text-transform: capitalize;
  text-align: left;
  font-size: 1.3rem;

  strong {
    color: #ffffff;
    text-transform: none;
    font-weight: 400;
  }
}

.barra {
  display: flex;
  justify-content: space-between;
  margin-top: 50%;
  padding: 1.75rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  border-radius: 10px 0 0 10px;
  float: left;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.logo {
  width: 3rem;
  margin-right: 15px;
}

.form-container {
    margin-right: 15rem;
}