<div class="container-fluid landing-main">
    <div class="row">
        <div class="col">
            <h1 class="title">
                Tu cuenta corriente <br />
                <strong>100% on line</strong>
            </h1>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col">
            <div class="row no-gutters barra">
                <div class="col">
                    <div class="row logo-container">
                            <span class="logo">
                                <img src="assets/images/ico-cmr.png" alt="CMR Puntos" />
                            </span>
                            <span>
                                Acumula <br />
                                <strong>
                                    CMR Puntos
                                </strong>
                            </span>
                    </div>
                </div>
        
                <div class="col">
                    <div class="logo-container">
                        <span>
                            <img class="logo" src="assets/images/opu.png" alt="Descuentos" />
                        </span>
                        <span class="brand-text">
                            <strong>
                                Descuentos <br />
                                exclusivos
                            </strong>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="logo-container">
                        <span>
                            <img class="logo" src="assets/images/visa-blue-png-2.png" alt="Visa" />
                        </span>
                        <span class="brand-text">
                            Compra en <br />
                            todo el mundo
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col form-container">
            <app-main-form></app-main-form>
        </div>
    </div>
    
</div>