.renta-main {
    background: url(/assets/images/fondo-renta.jpg) no-repeat transparent;
    background-size: 100%;
    padding: 3rem 1rem 0;
    height: 655px;
}
.barra {
    display: none;
}
.columna-barra {
  display: none;
}
.title {
    color: #ffffff;
    font-weight: 300;
    text-transform: capitalize;
    text-align: right;
    font-size: 1.3rem;

    strong {
      color: #ffffff;
      font-weight: 600;
    }
  }

@media (min-width: 1200px) {
  .renta-main {
    background: url(/assets/images/fondo-renta.jpg) no-repeat transparent;
    background-size: 100%;
    padding: 5rem 2rem 0;
    height: 655px;
  }

  .title {
    color: #ffffff;
    font-weight: 300;
    text-transform: capitalize;
    text-align: left;
    font-size: 1.3rem;

    strong {
      color: #ffffff;
      text-transform: none;
      font-weight: 400;
    }
  }

  .barra {
    display: flex;
    justify-content: space-between;
    margin-top: 50%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 10px 0 0 10px;
    float: left;
  }
  .columna-barra {
    display: block;
  }

  .logo-container {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
  }

  .logo {
    width: 3rem;
    margin-right: 15px;
  }

}

