<div class="renta-form container">
    <div class="col">
        <div class="row form-title my-4">
            <span><b style="color: green;">Ayúdanos</b> con unos datos más</span>
        </div>
        <div class="row form-subtitle my-4">
            <span>
                Porque te queremos dar una oferta hecha a la medida para ti, necesitamos
                saber un poco más.
            </span>
        </div>
        <div class="row">
            <div class="form-group w-100 my-2">
                <label for="exampleInputEmail1">¿Cuál es tu renta líquida/ingreso mensual?</label>
                <input type="text" class="form-control" id="" placeholder="Ej: $400.000">
            </div>
        </div>
        <div class="row my-4">
            <button type="button" class="btn btn-success w-100">CONTINUAR</button>
        </div>
    </div>
</div>