<div class="renta-form container">
    <div class="col">
        <div class="row form-title my-4">
            <span><b style="color: green;">Ayúdanos</b> con unos datos más</span>
        </div>
        <div class="row form-subtitle my-4">
            <span>
                Porque te queremos dar una oferta hecha a la medida para ti, necesitamos
                saber un poco más.
            </span>
        </div>
        <div class="row">
            <div class="form-group w-100 my-2">
                <label for="renta">¿Cuál es tu renta líquida/ingreso mensual?</label>
                <input type="number"
                class="form-control"
                id="renta"
                placeholder="Ej: $400.000"
                [ngModel]="renta"
                (ngModelChange)="check()">
            </div>
        </div>
        <div class="row my-4">
            <button type="button" class="btn w-100"
            [ngClass]="{'btn-success': valid, 'btn-secondary': !valid}" 
            [disabled]="!valid"
            (click)="continuar()">
                CONTINUAR
            </button>
        </div>
    </div>
</div>