<div class="main-form container">
    <div class="col">
        <div class="row form-title">
            <span><b style="color: green;">Ingresa</b> tus datos</span>
        </div>
        <div class="row form-subtitle">
            <span>
                Solo necesitas tener tu cédula para realizar la solicitud.
            </span>
        </div>
        <div class="row">
            <div class="form-group w-100">
                <label for="exampleInputEmail1">Rut</label>
                <input type="text" class="form-control" id="" placeholder="Ej: 11.111.111-1">
            </div>
        </div>
        <div class="row">
            <div class="form-group w-100">
                <label for="exampleInputEmail1">Celular</label>
                <input type="number" class="form-control" id="" placeholder="Ej: 987456321">

            </div>
        </div>
        <div class="row">
            <div class="form-group w-100">
                <label for="exampleInputEmail1">Correo elecronico</label>
                <input type="email" class="form-control" id="" placeholder="Ej: correo@correo.cl">
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success w-100">Continuar</button>
        </div>
    </div>
</div>