.main-form {
    background-color: white;   
    padding: 3rem 6rem 2rem;
    max-width: 30rem;
    margin: 0px;
    font-size: 1rem;
}

.form-title {
    font-size: 1.3rem;
}

.form-subtitle {
    margin-bottom: 15px;
}