<div class="main-form container">
    <form [formGroup]="form">
        <div class="col">
            <div class="row form-title my-4">
                <span><strong style="color: #47803A; font-weight: 400;">Ingresa</strong> tus datos</span>
            </div>
            <div class="row form-subtitle my-4">
                <span>
                    Solo necesitas tener tu cédula para realizar la solicitud.
                </span>
            </div>
            <div class="row">
                <div class="form-group w-100">
                    <label for="rut">Rut</label>
                    <input type="text" class="form-control" id="rut" formControlName="rut"
                        placeholder="Ej: 11.111.111-1">
                </div>
            </div>
            <div class="row">
                <div class="form-group w-100">
                    <label for="celular">Celular</label>
                    <input type="number" class="form-control" id="celular" formControlName="celular"
                        placeholder="Ej: 987456321">

                </div>
            </div>
            <div class="row">
                <div class="form-group w-100">
                    <label for="email">Correo elecronico</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        placeholder="Ej: correo@correo.cl">
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn w-100"
                    [ngClass]="{'btn-success': form.valid, 'btn-secondary': !form.valid}" [disabled]="!form.valid"
                    (click)="continuar()">
                    CONTINUAR
                </button>
            </div>
        </div>
    </form>
</div>