/* You can add global styles to this file, and also import other style files */

@import "assets/scss/fonts.scss";

@import "assets/scss/utils.scss";

html {
  font-size: 16px;
}

body {
  font-family: pfbeausans !important;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  color: #596266;
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
