/* You can add global styles to this file, and also import other style files */

//----------------------------------*\
// Fonts
//----------------------------------*/
@import "assets/scss/fonts.scss";

//----------------------------------*\
// Reset styles
//----------------------------------*/
@import "assets/scss/reset.scss";

//----------------------------------*\
// Components style
//----------------------------------*/
@import "assets/scss/components/form.scss";

//----------------------------------*\
// Utils
//----------------------------------*/
@import "assets/scss/utils.scss";

html {
  font-size: 16px;
}

body {
  font-family: pfbeausans, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #596266;
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
